@import url("main.css");

.container1{
    padding: 20px;
    margin: 30px;
    font-size: large;
}

.main{
    padding: 0px;
}
footer{
    padding: 20px;
    margin-top: 500px;
    color: #f0e001;
    background-color: #000000;
    text-align: center;
}