@import url("./main.css");

.container1{
    text-align: center;
    margin: 140px;
    font-size: x-large;
}

footer{
    padding: 20px;
    margin-top: 345px;
    color: #f0e001;
    background-color: #000000;
    text-align: center;
}