body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color:#f4f4f4;
}
/*global*/
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
    
}
ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #f0e001;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;

}

.button_2{
    height: 30px;
    background:#f0e001;
    color: #000000;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.button_3{
    height: 30px;
    background:#f0e001;
    color:#000000;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;

}

header{
    background-color: #000000;
    color: #ffffff;
    padding-top:70px;
    min-height: 70px;
    border-bottom:#fddc20 3px solid;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font: size 16px;
}

header li{
float:left;
display: inline-flex;
padding:0 30px 0 30px;
}

header #branding{
    float:left;
}

header #branding{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #f0e001;
    font-weight: bold;
}
 
header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/*showcase*/

#showcase{
    min-height: 800px;
    background:url('../images/bmw-3533813_1920.jpg') no-repeat 0 -400px;
    text-align: left;
    color:#000000
}

#showcase h1{
    margin-top: 200px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 25px;
    color:#f0e001;
}

/*quotation*/

#quotation{
    padding: 15px;
    color:#ffffff;
    background: #000000;
}

#quotation input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 20px;
}

#boxes .box img{
    width: 350px;

}


footer{
    padding: 20px;
    margin-top: 129px;
    color: #f0e001;
    background-color: #000000;
    text-align: center; 

}



