@import url("./main.css");


body{
    background: url("../images/porsche.jpg")no-repeat 0 -400px;
    min-height: 500px;
    text-align: left;
    color: beige;

}
.container, header{
    padding-top: 16px;
}
.container1{
    margin: 56px;
    padding: 40px;
    font-size: larger;
}

footer{
    padding: 20px;
    margin-top: 200px;
    color: #f0e001;
    background-color: #000000;
    text-align: center;
}
