@import url("./main.css");


body{
    background: url("../images/porsche.jpg")no-repeat 0 -326px;
    min-height: 500px;
    text-align: left;
    color: beige;

}
.container, header{
    padding-top: 16px;
}
.container1{
    text-align: center;
    margin: 140px;
    font-size: x-large;
}

footer{
    padding: 20px;
    margin-top: 345px;
    color: #f0e001;
    background-color: #000000;
    text-align: center;
}